// Main loadable file
body
  margin 0
  padding 0

// Please remove the line below when you start coding
.content
  position fixed
  width 340px
  height 120px
  top calc(50% - 60px)
  left calc(50% - 170px)

  div
    text-align center