dev-sidebar-collapse()
  width 60px

  .sidebar-logo
    height 40px

    .circle
      width 40px
      height 40px
      border-radius 20px
      border 20px solid transparent
      margin-left -20px

    img
      top 10px
      width 100%
      transform rotate(720deg)

  .sidebar-menu
    ul.nav
      padding-left 3px
      padding-right 3px

      li
        a
          .label
            opacity 0
            max-width 0

  .sidebar-toggle
    width 60px
    .to-expand
      opacity 1

    .to-collapse
      opacity 0

dev-sidebar-expand()
  width 400px

  .sidebar-logo
    height 240px

    .circle
      width 240px
      height 240px
      border-radius 120px
      border 120px solid transparent
      margin-left -120px

    img
      top 70px
      width unset
      transform rotate(0deg)

  .sidebar-menu
    ul.nav
      padding-left 40px
      padding-right 40px

      li
        a
          .label
            opacity unset
            max-width unset

  .sidebar-toggle
    width 400px
    a
      .to-expand
        opacity 0

      .to-collapse
        opacity 1


#main[data-page="dev"]
  @media(max-width 400px)
    #sidebar-area
      width 100%

      .sidebar-logo
        display none

  @media(max-width: 860px)
    #content-area
      #content
        width calc(100% - 40px)

        .overview-image
          display none

        .sssg-build-image
          width 100%

        .outline-sample
          width 100%

        .debug-screen
          width 100%

  @media(max-width: 1199px)
    #sidebar-area:not(.expand)
      dev-sidebar-collapse()

    #sidebar-area.expand
      dev-sidebar-expand()

    #sidebar-area
      .sidebar-toggle
        display block

    #content-area
      left 60px
      width "calc(100% - %s)" % 60px

  @media(min-width: 1200px)
    #sidebar-area.expand
      dev-sidebar-collapse()

