@import "mixins.part.styl"

*
  box-sizing border-box

div
  border 1px solid #A0A0A0

body
  background-color rgb(200, 230, 210)
  color #0F3B44
  height 100%
  width 100%

.title
  $width = 400px
  $height = 440px

  border-radius 6px
  background-color white
  width $width
  height $height
  position fixed
  centering $width, $height
  padding 20px 30px

  .title-logo
    margin-bottom 20px
    border none
    height 100px

  .short-name, .full-name, .description
    width 340px
    padding 5px

  .short-name
    height 30px
    display block
    border 1px solid #A0A0A0

  .full-name
    margin-top 20px
    height 30px

  .description
    margin-top 20px
    font-size 14px
    font-style italic

  .padding-top
    position absolute
    top 0
    left 60px
    border none
    border-left 1px dashed #999
    font-size 11px
    height 140px
    line-height 20px
    padding-left 10px

  .margin-int
    position absolute
    top 220px
    left 60px
    border none
    border-left 1px dashed #999
    font-size 11px
    height 20px
    line-height 20px
    padding-left 10px

  .padding-left
    position absolute
    top 155px
    left 0
    border none
    border-top 1px dashed #999
    font-size 11px
    width 30px
    padding-left 3px
    padding-top 10px

  .logos
    width 254px
    margin-top 20px
    margin-left auto
    margin-right auto
    border none
    img
      height 30px
      display inline-block
    a + a
      margin-left 10px

  .menu
    border none
    margin-top 40px
    width $width
    font-size 16px

    .menu-item
      border none
      width 100px
      padding 5px 0
      float left
      text-align center
      border-radius 6px
      transition all ease 0.3s
      cursor pointer
      color rgb(100, 140, 240)
      height 26px

    .menu-item-arrow
      float left
      height 26px
      width 18px
      padding 5px 0
      border none
      margin 0 2px
      text-align center

  .menu-item:hover
    background-color rgb(200, 230, 210)

  .menu:after
    content ""
    display table
    clear both

.layer
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  transition all ease 0.4s
  background-color transparent
  opacity 0.3
  z-index -1
  &.dark
    background-color rgb(0,0,0)
    z-index 10

.popup
  position fixed
  top 50%
  left 50%
  width 540px
  height 300px
  margin-left -270px
  margin-top -150px
  opacity 1
  transition all ease 0.3s
  border-radius 6px
  background-color #fff
  z-index 11
  padding 15px
  transform scale(0)

.popup.template
  box-shadow 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
  transform scale(1)
  h1:first-child
    margin-top 10px
    margin-left 15px
  ol
    padding-left 15px
    > li
      > .caption
        font-weight bold
        border none
        margin-bottom 5px
      > .caption + code
        margin-top 16px
  ol > li + li
    margin-top 20px

.popup.hidden
  border none
  opacity 0

.templates
  display none

code
  display block
  border-radius 3px
  background-color #333
  color #fff
  padding 10px
