centering($width, $height)
  top: "calc(50% - %s / 2)" % $height // This statement may look weird but cannot help to use variable in calc()
  left: "calc(50% - %s / 2)" % $width

debug()
  border 1px solid black
