extends layout.part.pug

block variables
  - var title = "demo"
  - var webRoot = "."

block body
  p
    | SAMPLE HTML CODE
  img.sample-image(src="./image/image-test.jpg")
  p
    | SAMPLE HTML CODE
