block variables
  - var title = "test"
  - var webRoot = "."

doctype html
html
  head
    title= title
    // uncache
    link(href=webRoot+"/css/main.css", rel="stylesheet")
    // enduncache
    // uncache
    script(src=webRoot+"/js/main.js")
    // enduncache
  body
    block body
