extends ../layout.part.pug

block variables
  - var title = "SSSG - Build"
  - var webRoot = "../.."

block body
  #main(data-page="dev")
    #sidebar-area
      include sidebar.part.pug
    #content-area
      #content
        h1.title
          | Build Mechanism

        .build-image
          img(src=webRoot + "/image/build-image.png")

        p.
          #[b.red-bold Red bold folders/files] ... Fixed name folders/files

        p.
          The picture above depicts how source files are built into output folder.
          #[br]
          Only red bold folders/files are recognized as build target. Thin black folders/files
          will be ignored if they are not referred to by the red bold source files.

        h2 Building Stylus for CSS
        p.
          Composing..

        h2 Building Pug for HTML
        p.
          Composing..

        h2 Building ES6 Javascript for Browser compatible ES5 Javascript
        p.
          Composing..

        h2 Building Image/Misc files
        p.
          Composing..