*
  box-sizing border-box

body
  margin 0
  padding 0

code
  display block
  border-radius 3px
  background-color #333
  color #fff
  padding 10px

@media(max-width: 860px)
  .github-ribbon
    display none