extends ../layout.part.pug

block variables
  - var title = "SSSG - Build"
  - var webRoot = "../.."

block body
  #main(data-page="dev")
    #sidebar-area
      include sidebar.part.pug
    #content-area
      #content
        h1.title
          | Build Mechanism
        p - editing -
        hr
