extends ../layout.part.pug

block variables
  - var title = "SSSG - Coding JS"
  - var webRoot = "../.."

block body
  #main(data-page="dev")
    #sidebar-area
      include sidebar.part.pug
    #content-area
      #content
        h1.title
          | Coding Javascript
        p test
        hr
