extends ../layout.part.pug

block variables
  - var title = "SSSG - Overview"
  - var webRoot = "../.."

block body
  #main(data-page="dev")
    #sidebar-area
      include sidebar.part.pug
    #content-area
      #content
        h1.title
          | Overview
        p
          | SSSG is a super-lightweight framework for composing static website with live preview.
        p
          | As SSSG is just a compilation of many useful npm modules,
          | this how-to-document shows you little about what SSSG does
          | but much about how SSSG utilizes these npm modules.
        p
          | The main purposes for this tool are:
        ul
          li
            | to code web service with developer friendly transpile languages like
            | Pug, Stylus, ES6 Javascript.
          li
            | to see real time preview of a web page on coding.
          li
            | to export resulted static web files anywhere.
        p
          | I originally wanted prototyping tool for website and found some wireframing services.
          | Those services is useful in that users don't need to code anything to outline site design.
        p
          | However, as a programmer myself,&nbsp;
          span.i-need-code I NEED CODE to spec out web designs.

        hr
        h2 What's this
        p test
