doctype html
html
  head
    meta(charset="utf-8")
    // uncache
    script(src="./js/main.js")
    // enduncache
    // uncache
    link(href="./css/main.css", rel="stylesheet")
    // enduncache
    script(src="./js/lib.js")
    link(href="./css/lib.css", rel="stylesheet")
  body
    .logo
      img(src="./image/sssg.png")