doctype html
html
  head
    title sssg - Simple Static Site Generator
    // uncache
    link(href="css/main.css", rel="stylesheet")
    // enduncache
    // uncache
    script(src="js/main.js")
    // enduncache
  body
    .title
      .title-logo
        img(src='image/sssg.png')
      input(type='text' value='sssg').short-name
      .full-name
        | Simple Static Site Generator
      .description
        | Generate static website from developer-friendly languages like pug, stylus, es6, flow
      .logos
        img(src='image/pug.png')
        img(src='image/stylus.png')
        img(src='image/es6.png')
      .menu
        .menu-item
          | Install
        .menu-item
          | Initialize
        .menu-item
          | Develop!
      .padding-top 140px
      .padding-left 30px
      .margin-int 20px
