block variables
  - var title = "sssg - Simple Static Site Generator"
  - var webRoot = "."

doctype html
html
  head
    title= title
    meta(name="viewport", content="initial-scale=0.6")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
    // uncache
    link(href=webRoot+"/css/main.css", rel="stylesheet")
    // enduncache
    script(src=webRoot+"/js/lib.js")
    // uncache
    script(src=webRoot+"/js/main.js")
    // enduncache
  body
    block body
